<form action="/" method="post" accept-charset="utf-8">

  <label>Task: <input type="text" name="task"></label>
  <label>Description: <input type="text" name="description"></label>

  <input type="submit" value="Create new task">
</form>
