<div class="form">
 <h1>Add new task</h1>
   <form action="/add_task" method="post" accept-charset="utf-8">

     <label>Task: <input type="text" name="task"></label><br/>
     <label>Description: <input type="text" name="description"></label><br/>

     <input type="submit" value="Create new task">
   </form>
</div>
