<h1> Welcome to your task list page </h1>

<!-- Should show the list of all of the tasks in database -->
<!--  Should contain a link to Add a new task This will give the form -->
<a href="/add_task">Add new task</a>

<!--  -->
