<h1>Todo List</h1>

<a href="/add_task">Add new task</a>

<% @all_tasks.each_with_index do |task, index| %>
  <p class="task"><%= index + 1%>. <%= task[1] %></p>
  <p class="task_descr"> - <%= task[2] %></p>
<% end %>
