body {
  margin: 0px;
  padding: 5%;
  background: url("/images/ship.jpg") no-repeat;
  background-color: #F0E4EE;
  background-size: cover;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 15px;
}

main {
  text-align: left;
  margin: auto;
  width: 50%;
}

nav {
  text-align: center;
  padding: 1em;
  font-size: 1.1em;
}

a:link {
  text-decoration: none;
  display: inline-block;
}

a:visited {
  text-decoration: none;
  display: inline-block;
}

h1 {
  text-align: center;
  font-family: "Apple Chancery", cursive;
  font-size: 2em;
  padding: 20px;
  margin-bottom: 1em;
}

form label {
  display: block;
  padding: .5em;
}

.task {
  margin: left;
}

.button {
  background-color: #dfc3e5;
  padding: .5em;
  margin: .5em;
  border: gray solid;
  border-width: thin;
  font-family: "Lucida Console", Monaco, monospace;
}

.task_descr {
padding-left: 1em;
}

.completed {
  text-decoration: line-through;
}
